

body {
    background-color: #222;
    font: 116px "Roboto Condensed";
    color: #ecdb41;
    text-align: center;
  }
  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  span {
    position: relative;
  }
  .container {
    top: 44px;
    left: 12px;
  }
  .flap {
    width: 110px;
    right: auto;
  }
  .half {
    height: 62px;
    overflow: hidden;
    background: #444;
    transform-style: preserve-3d;
    animation-timing-function: ease-in;
    animation-duration: 0.28s;
    animation-iteration-count: infinite;
  }
  .fast .half {
    animation-duration: 0.14s;
  }
  .divider {
    top: 61px;
    height: 2px;
    background: #222;
  }
  .prev {
    top: 62px;
  }
  .back,
  .front {
    backface-visibility: hidden;
  }
  .front {
    transform-origin: center bottom;
  }
  .back {
    top: 62px;
    transform-origin: center top;
  }
  .front span,
  .next span {
    top: -6px;
  }
  .back span,
  .prev span {
    top: -68px;
  }
  .animated .front {
    animation-name: flipFront;
  }
  .animated .back {
    animation-name: flipBack;
  }
  @keyframes flipFront {
    0% {
      transform: rotateX(0deg);
      background-color: #444;
    }
    100% {
      transform: rotateX(180deg);
      background-color: #1c1c1c;
    }
  }
  @keyframes flipBack {
    0% {
      transform: rotateX(180deg);
      background-color: #222;
    }
    100% {
      transform: rotateX(0deg);
      background-color: #444;
    }
  }