/*custom theme colors*/
:root {
  --clr-lgt-prp: #b2b0e2;
  --clr-prp: #5c70b5;
  --clr-pnk: #f05aa1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Create A Favorite & Navbar Styling */
button.save-fav, button.fav-icon, .sitebar, button.sitebar {
color: var(--clr-pnk);
background-color: var(--clr-prp);
}

button.save-fav:hover, .sitebar-list {
background-color: var(--clr-pnk);
color: var(--clr-prp);
}

button.save-fav {
  margin: 5px;
}

a{
  text-decoration: none;
  color: white;
}

.fav_icon {
  color: var(--clr-pnk);
}

/*Table Styling*/
#table-font {
  color: var(--clr-prp);
}
.table:hover {
  --bs-table-hover-color: var(--clr-pnk);
  --bs-table-hover-bg: var(--clr-prp);
}

button.update-btn, button.delete-btn {
  margin: 5px;
}

/*Modal Styling */
/*move modal down from top*/
.modal-body {
  color: var(--clr-prp);
  background-color: var(--clr-lgt-prp);
  position: relative;
  top: 10%;
}

/*custom card styling*/
#card {
  background-color: var(--clr-lgt-prp);
  background-size: cover;
  padding: 1rem 0 0;
  max-width: 60ch; /*width based on characters*/
  border-radius: 1rem;
  background: linear-gradient(
    hsl(0 0% 0% / 0), /*hue, saturation, lightness*/
    hsl(220 75% 75% /0.5) 20%,
    hsl(255 50% 30% / 1)
  );
  overflow: hidden;
  transition: transform 500ms ease;
}

#card:hover, #card:focus-within { /*focus-within applies to tabbing*/
  transform: scale(1.03);
}

.card-title {
  position: relative;
  width: max-content; /*snap to ends of text*/
}

.card-title::after {
  content: '';
  position: absolute;
  height: 2px;
  left: calc(var(--padding) * -1); /*shift backwards distance of padding*/
  bottom: -5px;
  width: calc(100% + var(--padding)); /*extend title line by length of padding*/
  background: var(--clr-pnk);
  transform: scaleX(0);
  transform-origin: left; /*animate line from left instead of center*/
  transition: transform 750ms ease;
}

#card:hover .card-title::after,
#card:focus-within .card-title::after {
  transform: scaleX(1);
  transition-delay: 500ms;
}

.card-content {
  --padding: 1.5rem; /*set padding variable to reuse*/
  padding: var(--padding);
  transform: translateY(85%);
  transition: transform 1000ms ease;
}

#card:hover .card-content,
#card:focus-within .card-content {
  transform: translateY(0);
  transition-delay: 250ms;
}

#card:focus-within .card-content {
  transition-duration: 0ms;
}

.card-content > * { 
  opacity: 0;
  transition: opacity 250ms linear; /*smooth opacity transition*/
}

#card:hover .card-content > *:not(p,hr), /*everything inside except...*/
#card:focus-within .card-content > *:not(p,hr) {
  opacity: 1;
  transition-delay: 500ms;
}

#card:hover .card-content > p,hr,
#card:focus-within .card-content > p,hr {
  opacity: 0.5;
  transition-delay: 500ms;
}

.link {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-pnk);
  padding: 0.3em 0.5em;
  border-radius: 0.5rem;
}
.link:hover, .link:focus {
  background-color: var(--clr-prp);
  transform: scale(1.07);
  transition: transform 100ms ease;
}

.null {
  padding: 0.3em 0.5em;
}

p {
  opacity: 0.5;
}

#img {
  z-index: 3;
  position: sticky;
  margin-top: -5%;
}

@media (prefers-reduced-motion: reduce)
{
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms
    !important;
    animation-iteration-count: 1
    !important;
    transition-duration: 0.01ms
    !important;
    scroll-behavior: auto
    !important;
    transition-delay: 0ms
    !important;
  }
}

h5.modal-title, div.modal-header {
  background-color: var(--clr-lgt-prp);
}

button.save-btn,
button.cancel-btn {
  border: solid 1px var(--clr-prp);
  color: var(--clr-prp);
  background-color: var(--clr-lgt-prp);
  margin: 5px;
}

button.cancel-btn:hover, button.save-btn:hover {
  background-color: var(--clr-prp);
  color: var(--clr-lgt-prp);
}

.flip {
  font-size: 3rem;
}