* {
  border-color: red;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global Styling */


/* Create A Favorite & NavbarStyling */

button.save-fav, button.fav-icon, .sitebar {
color: #F05AA1;
background-color: #5C70B5;
}

button.save-fav:hover, .sitebar-list {
background-color: #F05AA1;
color: #5C70B5;
}

.modal-body {
  position: relative;
  top: 10%;
}


/*Card Styling*/
.fav_icon {
  color: #F05AA1;
}

/*Table Styling*/
#table-font {
  color: #5C70B5;
}
.table:hover {
  --bs-table-hover-color: #F05AA1;
  --bs-table-hover-bg: #5C70B5;
}

/*move modal down from top*/
.modal-body {
  position: relative;
  top: 10%;
}